{
  "gPrefix": "-",
  "token": "NjUzNTg1NjEwNDg1MDA2MzYw.XlYtOw.SEQV29xdvSuYWBn5JtGSmvPUrp0",
  "botOwners": ["607676199195508822"],
  "database": "postgresql://DB_USER_NAME:DB_USER_PW@IP:PORT/DB_NAME",
  "google_search_engine_id": "",
  "google_api_key": "",
  "commandsEnabled": false,
    "host": {
      "ip": "",
      "username": "",
      "password": ""
    }
}
